body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #599e4b;
}

.container-fluid{
    margin: 0;
    padding: 0;
}


.navbar-brand:hover{
    color: white;
}

.nav{
    margin: 0;
    padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}


.navbar-brand h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color: #e4af34;
}

#nav-list a {
    
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: gray;
}

.menu-item{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: block;
}

.menu-item:hover{
    background-color: rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.4);
}
.item-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.content-box{
    margin: 20px;
    width: auto;
    height: auto;
    color: black;
    background-color: rgba(0,0,0,0.2);
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
}

